body {
    font-family: Arial, sans-serif;
    background-color: black;
}

h1 {
    text-align: center;
    color: red;
    font-family: "Merienda", cursive;
}

h2 {
    text-align: center;
    color: white;
    font-family: "Merienda", cursive;
}

.carrossel {
    width: 300px;
    height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    margin-top: 100px;
}
.imagens {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}
.imagem {
    min-width: 100%;
    box-sizing: border-box;
}
.indicadores {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.bola {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
    margin-bottom: 50px;
}

.bola.ativa {
    background-color: rgb(255, 0, 0);
}

.texto {
    margin: auto;
    width: 300px;
    color: white;
    text-align: center;
    margin-bottom: 100px;
    font-family: "Comic Neue", cursive;
}

.timer {
    font-size: 24px;
    color: #333;
    margin-bottom: 100px
}

.div-style-timer {
    width: 300px;
    margin: auto;
    text-align: center;
    font-family: "Ubuntu Mono", monospace;
}

.div-style-timer span {
   font-style: italic;
   font-size: 20px;
}

.style-timer {
    font-size: 25px;
    background-color: black;
    padding: 10px;
    color: white; 
    box-shadow: 0px 0px 24px 5px rgba(255,2,99,0.6);
}

.card-5 {
    text-align: center;
    margin-bottom: 100px
}

li {
    color: white;
    list-style-type: none;
    margin-bottom: 20px;
    font-family: "Comic Neue", cursive;
}

